:host {
  display: flex;
  justify-content: center;
  align-items: center;

  width: calc(75% - 100px);

  @media only screen and (max-width: 1525px) {
    width: calc(75% - 200px);
  }

  @media only screen and (max-width: 1100px) {
    width: calc(65% - 200px);
  }

  @media only screen and (max-width: 900px) {
    width: 100%;
  }
}

.carousel-wrapper {
  overflow: hidden;
  height: 100%;

  .carousel {
      display: flex;
      overflow: hidden;
      position: relative;
      z-index: 0;
      height: inherit;

      .carets {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 100%;
        z-index: 1;
        font-size: 25px;
        color: white;
        position: absolute;
        background-color: rgba($color: #000000, $alpha: 0.5);
      }

      .caret-left-position {
        left: 0;
      }

      .caret-right-position {
        right: 0;
      }

      .caret-right {
        top: calc(50% - 12.5px);
      }

      .caret-left {
        top: calc(50% - 12.5px);
      }
  }
}

.loading-wrapper {
  @extend .carousel-wrapper;

  width: calc(75% - 100px);

  @media only screen and (max-width: 1525px) {
    width: calc(75% - 200px);
  }

  @media only screen and (max-width: 1100px) {
    width: calc(65% - 200px);
  }

  @media only screen and (max-width: 900px) {
    width: 100%;
  }
}

.loading {
  background-color: black;
}