.title {
    background-color: rgba(128, 128, 128, 0.5) !important;
    margin: 10px;
}

.thumbnail-wrapper {
    display: flex;

    @media only screen and (max-width: 900px) {
        flex-direction: column;
    }

    .thumbnail-container {
        @media only screen and (max-width: 900px) {
            display: flex;
            justify-content: center;
        }

        .thumbnail {
            width: 600px;
            height: 400px;
            @extend .title;
        }        
    }
}

.thumbnail-source-mobile {
    display: none;

    @media only screen and (max-width: 900px) {
        display: flex;
        justify-content: center;
    }
}

.snipet {
    @extend .title;
    width: 100%;
    height: 200px;
}

.info {
    @extend .title;
    height: 25px;
}

.news {
    @extend .title;
    height: 100vh;
}