<div class="news-wrap">
    <div class="title">
        <div class="carousel-loading">
            <div class="loading"></div>
        </div>
    </div>
    <div class="thumbnail-wrapper">
        <span class="thumbnail-container">
            <div class="thumbnail">
                <div class="carousel-loading">
                    <div class="loading"></div>
                </div>
            </div>
        </span>
        <span class="thumbnail-source-mobile"></span>
        <div class="snipet">
            <div class="carousel-loading">
                <div class="loading"></div>
            </div>
            <div class="adds"></div>
        </div>
    </div>

    <div class="info">
        <div class="section-wrap"></div>
        <div class="icons-wrap"></div>
        <div class="carousel-loading">
            <div class="loading"></div>
        </div>
    </div>

    <div class="news">
        <div class="carousel-loading">
            <div class="loading"></div>
        </div>
    </div>
</div>
