:host {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    bottom: 0;
    color: #ffffff;
    width: 100%;
    height: 50px;
    padding: 0 !important;
}
