.pop-up {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(177,5,29,1), rgba(9,9,121,1) 50%,  62%, rgba(249,249,249,1) 100%);
    font-size: 20px;
    color: white;

    .message {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
    }
}
