mat-form-field {
    width: 100%;
}

.comment-wrap {
    display: flex;

    img {
        height: 56px;
    }
}

.comment-text {
    width: 100%;
}

.comment-submit {
    height: 56px;
    width: 100px;

    @media only screen and (max-width: 500px) {
        display: none;
    }
}

.comment-sbmt-arrow-wrap {

    display: flex;
    align-items: center;
    height: 56px;

    .comment-submit-arrow {
        display: none;
        @media only screen and (max-width: 500px) {
            display: block;
        }
    }
}