.app-wrapper {
    display: flex;
    flex-direction: column;
}

.footer-wrapper {

    .advertisement {
        @media only screen and (max-width: 1200px) { 
            display: flex;
            justify-content: center;
            align-items: center;
            height: 10vh;
            font-size: 25px;
            background-color: white;
        }
        @media only screen and (min-width: 1201px) {
            display: none;
        }
    }

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    position: fixed;
    bottom: 0;
}