.app-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    
    .footer-wrapper {

        .advertisement {
            @media only screen and (max-width: 1200px) { 
                display: flex;
                justify-content: center;
                align-items: center;
                height: 10vh;
                font-size: 25px;
                background-color: white;
            }
            @media only screen and (min-width: 1201px) {
                display: none;
            }
        }

        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: flex-end;
        position: sticky;
        bottom: 0;
    }
}