.google-icon-wrap {
    display: flex;
    align-items: center;
}

.icon-wrap {

    @extend .google-icon-wrap;

    .log-out {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        cursor: pointer;
        margin-right: 20px
    }

    .like {
        @extend .log-out;
        i {
            font-size: 24px;
        } 
    }
}
