
.spinner-wrap {
    width: 340px;
    height: 100%;
    position: relative;
    z-index: 0;

    .spinner {
        position: absolute;
        top: calc(25% + 25px);
        left: calc(25% + 25px);
        z-index: 1;
    }
}

.left-side-container {
    height: 666px;
    width: 340px;
    overflow-y: scroll;
    position: relative;
}

/* WebKit browsers */
.left-side-container::-webkit-scrollbar {
    width: 12px;
}

.left-side-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
    height: 20px;
}

.left-side-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Example content */
.content {
    height: 20px; /* Height to make the page scrollable */
    background: linear-gradient(to bottom, #f06, white);
}

.left-side {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 500px;
    overflow-y: scroll;
    background-color: white;
    margin-top: 40px;
}

.side-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 340px;
    font-size: 25px;
}