.toggle {
    @media only screen and (min-width: 1300px) {
        display: none;
    }
}

.scroll-wrap {
    width: 340px;
    height: 100%;
    position: relative;
    z-index: 0;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 333px;
    position: absolute;
    z-index: 1;

    .loading-spinner {
        z-index: 2;
    }
}

.left-side-container {
    height: 666px;
    width: 360px;
    overflow-y: scroll;
    position: relative;
    @media only screen and (max-width: 1300px) {
        border-width: 10px;
        border-style: solid;
        border-image: linear-gradient(rgba(177,5,29), rgba(9,9,121), rgba(177,5,29), rgba(9,9,121)) 30;
    }
}

.cards-wrap::-webkit-scrollbar {
    width: 0;
}

/* WebKit browsers */
.left-side-container::-webkit-scrollbar {
    width: 12px;
}

.left-side-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
    height: 20px;
}

.left-side-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Example content */
.content {
    height: 20px; /* Height to make the page scrollable */
    background: linear-gradient(to bottom, #f06, white);
}

.left-side {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: scroll;
    background-color: white;
    margin-top: 40px;
}

.side-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    min-width: 340px;
    font-size: 25px;
}

.toggle-loading {
    margin: 50px 0 50px 20px;
}

.loading {
    @media only screen and (max-width: 1300px) {
        transform: translateX(-100%);
        display: block;
        position: absolute;
        z-index: 1;
    }
}

.closed {
    @media only screen and (max-width: 1300px) {
        transform: translateX(-100%);
        display: block;
        position: absolute;
        z-index: 1;
    }
}