:host {
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    height: 200px;

    width: calc(75% - 100px);
  
    @media only screen and (max-width: 1525px) {
      width: calc(75% - 200px);
    }
  
    @media only screen and (max-width: 1100px) {
      width: calc(65% - 200px);
    }
  
    @media only screen and (max-width: 900px) {
      width: 100%;
      position: relative;
    }
}

.carousel-loading {
  width: 50%;
  height: inherit;
  animation: carousel-loading 1500ms linear infinite;

  .loading {
    width: 10%;
    height: inherit;
    background-color: rgba(255, 255, 255, 0.1);
    animation: loading 1500ms linear infinite;
  }
}

@keyframes carousel-loading {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes loading {
  0% {
    transform: translateX(900%);
  }
  100% {
    transform: translateX(0%);
  }
}