:host {
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    height: 200px;

    width: calc(75% - 100px);
  
    @media only screen and (max-width: 1525px) {
      width: calc(75% - 200px);
    }
  
    @media only screen and (max-width: 1100px) {
      width: calc(65% - 200px);
    }
  
    @media only screen and (max-width: 900px) {
      width: 100%;
      position: relative;
    }
}