:host {
    display: grid;
    grid: "1fr 1fr"
          "1fr 1fr";

    @media only screen and (max-width: 900px) {
        grid: "1fr 1fr";
        height: 100vh;
    }

    @media only screen and (max-width: 700px) {
        grid: "1fr";
        margin: 10px 0 50px 0;
    }
}

.loading-cards {
    margin: 20px;
}