<!-- <cdk-virtual-scroll-viewport itemSize="3"
                             (scroll)="onScroll()"
                             *ngIf="mobileView">
                             <div *ngFor="let card of cardsToShow">
                                <app-main-card [card]="card" (click) = 'getNews(card.newsId)'></app-main-card>
                             </div>
</cdk-virtual-scroll-viewport>
<ng-container *ngIf="!mobileView">

</ng-container> -->

<ng-container *ngIf="!loading">
   <div *ngFor="let card of cardsToShow">
      <app-main-card [card]="card" (click) = 'getNews(card.newsId)'></app-main-card>
   </div>
</ng-container>
<ng-container *ngIf="loading">
   <app-main-loading></app-main-loading>
   <app-main-loading></app-main-loading>
   <app-main-loading></app-main-loading>
   <app-main-loading></app-main-loading>
</ng-container>